/* Start Variables */
:root {
    --main-color: #7b5244;
    --transperant-color: #ab9184;
    --padding-section: 60px;  
    --transperant-text: #777;
}
/* End Variables */

/* Start Global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start Header */
header {
    /* background-color: #777; */
    position: relative;
    -moz-box-shadow:0 0 10px #ddd; 
    -webkit-box-shadow: 0 0 10px #ddd;
    -o-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
header .container .logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    header .container .logo {
        height: 80px;
    }
}
@media (min-width: 767px) And (max-width: 991px) {
    header .container .logo {
        margin: auto;
    }
}
/* header .container .logo img {

} */
@media (max-width: 767px) {
    header .container .logo img {
        width: 150px;
    }
}
@media (max-width: 767px) {
    header .container nav{
        display: none;
    }
}
@media (min-width: 767px) And (max-width: 991px) {
    header .container nav{
        margin-bottom: 30px;
    }
}
header .container  ul {
    display: flex;
    flex-wrap: wrap;
}
header .container nav ul li a{
    text-decoration: none;
    color: var(--main-color);
}
header .container nav ul > li {
    position: relative;
    margin-left: 10px;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.3s;
}
@media (max-width: 767px) {
    header .container nav ul li {
        margin-left: 5px;
        padding: 5px 10px;
        font-size: 12px;
    }
}
@media (min-width: 767px) And (max-width: 991px) {
    header .container nav ul li {
        margin-left: 10px;
        padding: 5px 10px;
    }
}
header .container nav ul li::before {
    content: "";
    position: absolute;
    border: 2px solid var(--main-color);
    border-color: transparent var(--main-color) transparent var(--main-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateX(90deg);
    transition: 0.3s ease;
}
header .container nav ul li:hover::before {
    transform: rotateX(0deg);
}
header .container nav ul li::after {
    content: "";
    position: absolute;
    border: 2px solid var(--main-color);
    border-color: var(--main-color) transparent var(--main-color) transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transform-origin: left center;
    transition: 0.3s 0.2s ease;
}
header .container nav ul li:hover::after {
    transform: rotateY(0deg);
}
header .container .icons{
    position: relative;
    margin-right: 15px;
}
@media (min-width: 767px) And (max-width: 991px) {
    header .container .icons{
        position: absolute;
        right: 50px;
        margin-bottom: 50px;
    }
}
@media (min-width: 992px) And (max-width: 1199px) {
    header .container {
        display: flex;
        justify-content: center;
    }
    header .container .icons{
        order: 2;
    }
    header .container nav {
        order: 3;
        margin: 0 auto 30px;
    }
    header .container .logo {
        order: 1;
    }
}
header .container .icons a{
    text-decoration: none;    
    /* margin-right: 20px; */
    padding: 10px 10px;
    color: black;
    position: relative;
}
@media (max-width: 767px) {
    header .container .icons a{
        font-size: 10px;
    }
}
header .container .icons::before{
    content: "";
    position: absolute;
    right: -4px;
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    text-align: center;
}
@media (max-width: 767px) {
    header .container .icons::before{
        width: 11px;
        height: 11px;
        right: -2px;
    }
}
header .container .icons::after{
    content: "0";
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: 12px;
    color: white;
}
@media (max-width: 767px) {
    header .container .icons::after {
        font-size: 10px;
        right: 0.5px;
        top: 0px;
    }
}
header .container .icons .bag span {
    display: block;
    position: absolute;
    right: -30px;
    bottom: -1px;
    font-size: 10px;
    text-transform: capitalize;
    color: #777;
}
@media (max-width: 767px) {
    header .container .icons .bag span {
        right: -20px;
        bottom: 3px;
        font-size: 8px;
    }
}
header .container .list {
    display: none;
}
@media (max-width: 767px) {
    header .container .icons {
        position: absolute;
        right: 65px;
    }
    header .container .line-list {
        position: relative;
    }
    header .container .line-list .lines {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        width: 30px;
        right: 100px;
        right: 0;
        position: absolute;
    }
    header .container .line-list .lines span {
        display: block;
        height: 1px;
        width: 100%;
        margin-bottom: 5px;
        background-color: black;
    }   
    header .container .line-list .lines .active {
        width: 60%;
        transition: 0.3s ease;
    }    
    header .container .line-list .lines:hover .active{
        width: 100%;
    }   
    
}
/* End Header */

/* Start mega-munu */
header .container nav ul .furn {
    position: relative;
    z-index: 100;
}
header .container nav ul .pre {
    perspective: 200px;
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
}
header .container nav ul .mega-menu {
    position: absolute;
    padding: 20px;
    display: flex;
    background-color: white;
    border: 2px solid var(--main-color);
    z-index: 100;
    gap: 40px;
    transition: 1s;
    transform:  rotateY(90deg)  translateX(-50px) scale(0);
    transform-origin: left center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
header .container nav ul .furn:hover .mega-menu {
    transform: rotateY(0deg) translateX(0px);

}
header .container nav ul .mega-menu .links {
    padding: 0  ;
    display: flex;
    justify-content: center;
    text-align: center;
}
header .container nav ul .mega-menu .links .active {
    color: var(--transperant-color);
    text-transform: capitalize;
    
}
header .container nav ul .mega-menu .links > li {
    color: var(--main-color);
    margin-bottom: 15px;
    text-transform: capitalize;
    
}
/* End mega-munu */

/* Start Landing */
.landing {
    position: relative;
}
.landing .container{
    min-height: calc(100vh - 100px);
}
.landing .image {
    position: relative;
    width: 100%;
}
.landing .image img{
    width: 100%;
    max-width: 100%;
}
.landing .image a {
    display: block;
    position: absolute;
    left:95px;
    top: 335px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: var(--main-color);
    transition: 0.3s;
}
@media (max-width: 767px) {
    .landing .image a {
        left: 25px;
        top: 100px;
        font-size: 8px;
        padding: 5px 10px;
    }
}
.landing .image a:hover {
    background-color: var(--transperant-color);
    color: white;
}
/* End Landing */
